## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
%matplotlib inline

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nicolet,CA,46.2168,-72.6158,49.71,63,1,11.50,clear sky
1,1,Hithadhoo,MV,-0.6000,73.0833,82.40,75,100,13.24,overcast clouds
2,2,Udala,ES,43.0778,-2.5125,47.79,85,96,5.93,overcast clouds
3,3,Inhambane,MZ,-23.8650,35.3833,76.98,88,40,10.36,scattered clouds
4,4,Westport,US,41.1415,-73.3579,54.99,48,1,5.99,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Hithadhoo,MV,-0.6000,73.0833,82.40,75,100,13.24,overcast clouds
3,3,Inhambane,MZ,-23.8650,35.3833,76.98,88,40,10.36,scattered clouds
10,10,Castro,BR,-24.7911,-50.0119,76.82,69,54,4.47,broken clouds
16,16,Hilo,US,19.7297,-155.0900,79.29,76,1,8.05,clear sky
23,23,Rikitea,PF,-23.1203,-134.9692,75.18,81,100,16.49,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
709,709,Maua,BR,-23.6678,-46.4614,86.07,45,59,8.81,broken clouds
710,710,Port-Gentil,GA,-0.7193,8.7815,80.56,83,75,12.66,broken clouds
711,711,Panuco,MX,22.0500,-98.1667,76.03,58,58,4.99,broken clouds
714,714,Bathsheba,BB,13.2167,-59.5167,86.61,66,40,20.71,scattered clouds
715,715,Tucuma,BR,-0.1833,-50.0500,89.17,53,87,7.83,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Hithadhoo,MV,-0.6000,73.0833,82.40,75,100,13.24,overcast clouds
3,3,Inhambane,MZ,-23.8650,35.3833,76.98,88,40,10.36,scattered clouds
10,10,Castro,BR,-24.7911,-50.0119,76.82,69,54,4.47,broken clouds
16,16,Hilo,US,19.7297,-155.0900,79.29,76,1,8.05,clear sky
23,23,Rikitea,PF,-23.1203,-134.9692,75.18,81,100,16.49,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
709,709,Maua,BR,-23.6678,-46.4614,86.07,45,59,8.81,broken clouds
710,710,Port-Gentil,GA,-0.7193,8.7815,80.56,83,75,12.66,broken clouds
711,711,Panuco,MX,22.0500,-98.1667,76.03,58,58,4.99,broken clouds
714,714,Bathsheba,BB,13.2167,-59.5167,86.61,66,40,20.71,scattered clouds
715,715,Tucuma,BR,-0.1833,-50.0500,89.17,53,87,7.83,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Hithadhoo,MV,82.40,overcast clouds,-0.6000,73.0833,
3,Inhambane,MZ,76.98,scattered clouds,-23.8650,35.3833,
10,Castro,BR,76.82,broken clouds,-24.7911,-50.0119,
16,Hilo,US,79.29,clear sky,19.7297,-155.0900,
23,Rikitea,PF,75.18,overcast clouds,-23.1203,-134.9692,
...,...,...,...,...,...,...,...
709,Maua,BR,86.07,broken clouds,-23.6678,-46.4614,
710,Port-Gentil,GA,80.56,broken clouds,-0.7193,8.7815,
711,Panuco,MX,76.03,broken clouds,22.0500,-98.1667,
714,Bathsheba,BB,86.61,scattered clouds,13.2167,-59.5167,
715,Tucuma,BR,89.17,overcast clouds,-0.1833,-50.0500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Hithadhoo,MV,82.40,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,Inhambane,MZ,76.98,scattered clouds,-23.8650,35.3833,Oceano
10,Castro,BR,76.82,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
16,Hilo,US,79.29,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
23,Rikitea,PF,75.18,overcast clouds,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...,...
708,Bull Savanna,JM,83.71,overcast clouds,17.8868,-77.5902,Big Red's
709,Maua,BR,86.07,broken clouds,-23.6678,-46.4614,Hotel Capriccio Mauá
710,Port-Gentil,GA,80.56,broken clouds,-0.7193,8.7815,Fengshui Residence
711,Panuco,MX,76.03,broken clouds,22.0500,-98.1667,Hotel Plaza
714,Bathsheba,BB,86.61,scattered clouds,13.2167,-59.5167,Atlantis Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))